.custom-block.tip
  border-color: lighten($accentColor, 30%)
div[class*="language-"]
  border-radius: 0
.theme-default-content code
  border-radius: 0
.home .hero .action-button
  border-radius: 0 !important